@import 'tailwindcss';

@config '../../tailwind.config.ts';

@variant dark (&:is(.dark *));

@theme {
  --font-family-sans: var(--font-geist-sans), system-ui;
  --font-family-mono: var(--font-geist-mono), system-ui;
}

@layer base {
  html,body,#__next {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
  }

  html {
    min-width: 320px;
    min-height: 100%;
    scroll-behavior: smooth;
    font-synthesis: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
