@import 'tailwindcss';

@variant dark (&:is(.dark *));

@theme {
  --font-family-sans: var(--font-geist-sans);
  --font-family-mono: var(--font-geist-mono);

  --radius-lg: var(--radius);
  --radius-md: calc(var(--radius) - 2px);
  --radius-sm: calc(var(--radius) - 4px);
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

/*
  Form elements have a 1px border by default in Tailwind CSS v4, so we've
  added these compatibility styles to make sure everything still looks the
  same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add `border-0` to
  any form elements that shouldn't have a border.
*/
@layer base {
  input:where(:not([type='button'], [type='reset'], [type='submit'])),
  select,
  textarea {
    border-width: 0;
  }
}

@layer base {
  html,body,#__next {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
  }
  :root {
    --radius: 0.5rem;
  }
  html {
    min-width: 320px;
    min-height: 100%;
    scroll-behavior: smooth;
    font-synthesis: none;
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
