@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,body,#__next {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
  }
  :root {
    --radius: 0.5rem;
  }
  html {
    min-width: 320px;
    min-height: 100%;
    scroll-behavior: smooth;
    font-synthesis: none;
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
